<div class="footer">
    &copy; Copyright 2018
    <span class="divider">|</span>
    <span class="hidden-xs">Deepak Nitrite Ltd.</span>
    <span class="divider hidden-xs">|</span>
    All rights reserved.
</div>