<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="dropdown">
            <%= link_to root_path do %>
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            <% end %>
        </li>
    </ul>
</div>