<div class="sidebar">
    <ul class="sidebar-nav">
        <li>
            <%= link_to root_path do %>
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            <% end %>
        </li>

        <li>
            <%= link_to batch_flow_dashboards_path do %>
                <i class="fa fa-sitemap"></i>
                <span>Batch Flow</span>
            <% end %>
        </li>
    </ul>
</div>